.header_bg{
    /* border: 1px solid blue ; */
    top: 0;
    position: absolute;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 70vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden; 
    
}

.down_circle{
    transform: translateY(60vh);
    /* border: 1px solid rgb(0, 255, 242) ; */
    position: absolute;
    
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.green{
    margin: 0 auto;
    width: 90%; /* Diametro */
    height: 100%; /* Diametro */
    background:linear-gradient(90deg, #00FF6F 20%, #3fcfff 100%); /* Colore del cerchio */
    border-radius: 100%; /* Trasforma il quadrato in cerchio */
    filter: blur(80px); /* Effetto blur */
}

@media screen  and (max-width: 376px){/* ---------------------------------------------------------------------------mobile 376px- */
    .header_bg{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px ;
    }
    }
    
    @media screen and (max-width: 680px) and (min-width: 377px) {/* -----------------------------------------------------mobile 425px- */
        .header_bg{
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px ;
        }
        .down_circle{
            transform: translateY(50vh);
           
        }
        .green{
            width: 150%;
            height: 110%;
            transform: translateX(-10%);
        }
    
        
    }
    
    @media screen and (max-width: 899px) and (min-width: 680px){/* ------------------------------------------------------tablet 760px- */
        .down_circle{
            transform: translateY(50vh);
           
        }
        .green{
            width: 120%;
            transform: translateX(-5%);
        }
        
    }