.titolo_header {
    margin-top: 130px;
     margin-left: 10%;
 
 }
 
 
 .titolo_header h1{
     color: #ffff;
     font-size: 2rem;
     font-weight: bold;
 }

 .titolo_header span{
   
        color: #ffff;
      background: linear-gradient(to right, #3FCFFF, #00FF6F);
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      
    
    }


 @media screen  and (max-width: 376px){/* ---------------------------------------------------------------------------mobile 376px- */
    .titolo_header{
        margin-left: 5%;
    }
    
    .titolo_header h1{
        font-size: 20px;
      }
}

@media screen and (max-width: 680px) and (min-width: 377px) {/* -----------------------------------------------------mobile 425px- */
    .titolo_header{
        margin-left: 5%;
    }
    
    .titolo_header h1{
        font-size: 25px;
      }
}

@media screen and (max-width: 899px) and (min-width: 680px){/* ------------------------------------------------------tablet 760px- */
    .titolo_header{
        margin-left: 10%;
    }
    
  /*  
    .titolo_header h1{
         font-size: 30px; 
      }*/
}

@media screen and (max-width: 1024px) and (min-width: 900px){/* ----------------------------------------------------laptop 1024px- */
    

}

@media screen and (max-width: 1440px) and (min-width: 1025px){/* ---------------------------------------------------laptop 1440px- */
 
}

@media screen  and (min-width: 1441px){/* ------------------------------------------------------------------------------laptop 4k- */
    
}