
.research_bar{
    
    position: absolute;
    z-index:11;
    
    margin-left: 15%;
    margin-right: 15%;
    transform: translateY(calc(70vh - 7.5vh));

    border-radius: 100px;

    background: linear-gradient(90deg, #00FF6F 20%, #3fcfff 100%);

    width: 70%;
    height: 15vh;
    max-height: 100px;

    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

    padding: 0.4%;

    
}


.elementi_bar{
    /* border: 1px solid rgb(255, 0, 0); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

/* --------------------luogo--------------- */

.luogo_bar{
    margin-right: 5px;
    padding-left: 2%;
    display: flex;
    height: 100%;
    width: 30%;
    
    align-items: center;
    background-color: #ffff;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}


.luogo_bar input{ 
    height: 8vh;
    width: 200px;
    padding-left: 5%;
 
}
/* --------------------data--------------- */
.data_bar{
    margin-right: 5px;
    padding-left: 2%;
    display: flex;
    height: 100%;
    width: 30%;
    
    align-items: center;
    background-color: #ffff;
    

}
.data_bar input{
    height: 8vh;
    padding-left: 5%;
    width:200px;
    
}
/* --------------------persone--------------- */

.persone_bar{
    margin-right: 2px;
    padding-left: 2%;
    display: flex;
    height: 100%;
    width: 22%;
    align-items: center;
    background-color: #ffff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.persone_bar input{
    height: 8vh;
    width:70px;
    padding-left: 5%;

 

}
/* --------------------pulsante ricerca--------------- */

.button_bar{
    width: 15%;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: nowrap;
}

.button_bar button{
    display: flex;
    background-color: #1c1c1c;
    color: white;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    transition: all 0.6s, transform 0.9s ease-in;
    cursor: pointer;
    
}

.button_bar span{
    margin-left: 5%;
}

.button_bar button:hover{
    background-color: #343434;
    
    
}







@media screen  and (max-width: 376px){/* ---------------------------------------------------------------------------mobile 376px- */
    .research_bar{
        flex-direction: column;
        height: fit-content;
        max-height: none;
        border-radius: 20px;
        padding: 1%;
        width: 90%;
        margin-left:5% ;
        margin-right:5% ;
        transform: translateY(50vh);

    
    }

    .elementi_bar{
        display: block;

    }

    .luogo_bar{
        width: 100%;
        margin-bottom: 1%;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .data_bar{
        width: 100%;
        border-radius: 0;
        margin-bottom: 1%;
    }

    .persone_bar{
        width: 100%;
        margin-bottom: 1%;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .button_bar{
        width: 100%;
        margin: 0;
        height: 55px;
        margin-top: 3%;
    
    
    }
    .button_bar button{
        border-radius: 15px;

    }
    .button_bar span{
        margin: 1%;
    }
}

@media screen and (max-width: 680px) and (min-width: 377px) {/* -----------------------------------------------------mobile 425px- */
    .research_bar{
        flex-direction: column;
        height: fit-content;
        max-height: none;
        border-radius: 20px;
        padding: 1%;
        width: 90%;
        margin-left:5% ;
        margin-right:5% ;
        transform: translateY(50vh);

    
    }

    .elementi_bar{
        display: block;

    }

    .luogo_bar{
        width: 100%;
        margin-bottom: 1%;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .data_bar{
        width: 100%;
        border-radius: 0;
        margin-bottom: 1%;
    }

    .persone_bar{
        width: 100%;
        margin-bottom: 1%;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .button_bar{
        width: 100%;
        margin: 0;
        height: 55px;
        margin-top: 3%;
    
    
    }
    .button_bar button{
        border-radius: 15px;

    }
    .button_bar span{
        margin: 1%;
    }
}

@media screen and (max-width: 899px) and (min-width: 680px){/* ------------------------------------------------------tablet 760px- */
    .research_bar{
        flex-direction: column;
        height: fit-content;
        max-height: none;
        border-radius: 20px;
        padding: 1%;
        width: 80%;
        margin-left:10% ;
        margin-right:10% ;
        transform: translateY(50vh);

    
    }

    .elementi_bar{
        display: block;

    }

    .luogo_bar{
        width: 100%;
        margin-bottom: 1%;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .data_bar{
        width: 100%;
        border-radius: 0;
        margin-bottom: 1%;
    }

    .persone_bar{
        width: 100%;
        margin-bottom: 1%;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .button_bar{
        width: 100%;
        margin: 0;
        height: 55px;
        margin-top: 3%;
    
    
    }
    .button_bar button{
        border-radius: 15px;

    }
    .button_bar span{
        margin: 1%;
    }

}

@media screen and (max-width: 1024px) and (min-width: 900px){/* ----------------------------------------------------laptop 1024px- */
     

}

@media screen and (max-width: 1440px) and (min-width: 1025px){/* ---------------------------------------------------laptop 1440px- */
 
}

@media screen  and (min-width: 1441px){/* ------------------------------------------------------------------------------laptop 4k- */
    .research_bar{
        padding: 5px;
    }
}