.log_bg_container{
    /* border: 1px solid blue ; */
    
   
    position: absolute;
    z-index: -1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   
   
   
    
}




.log_color{
    position: relative;
    
    width: 50%; /* Diametro */
    height: 40%; /* Diametro */
    background: linear-gradient(90deg, #00FF6F 0%, #3FCFFF 100%);
    filter: blur(116.7px);
   
    border-radius: 100%; 
   
}