.log_bg_container{
    /* border: 1px solid blue ; */
    
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   
   
   
    
}




.log_color{
    position: relative;
    margin-left:calc(25%);
    margin-top: calc(50vh - 20vh);
    width: 50%; /* Diametro */
    height: 40%; /* Diametro */
    background: linear-gradient(90deg, #00FF6F 0%, #3FCFFF 100%);
    filter: blur(116.7px);
   
    border-radius: 100%; 
   
}