.Pop_bg{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(15, 15, 15, 0.71);
    backdrop-filter: blur(9.8px);
    align-items: center;
    justify-content: center;


}

.Pop_Container{
    align-items: center;
    padding: 5%;
    position: relative;
    border-radius: 30px;
    width: 50%;
    max-width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    background-color: #1c1c1c;
    color: #ffff;

}

.Pop_Container h1,
.Pop_Container p{
    text-align: center;
 
    
}

.Pop_Container h1{

    margin-bottom: 5%;
    

    
}

.Pop_button{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    margin-top: 5%;
}

.Button1{
    color: #000;
    padding: 0 4%;
    height: 50px;
    
    text-decoration: none;
    background-color: #3FCFFF;
    text-align: center;
    font-weight:700; 
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.Button1:hover{
    background-color: #ffffff;
}


.Button2{
    
    padding: 0% 4%;
    background-color: #343434;
    height: 50px;
    text-align: center;
    font-weight:700;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.Button2:hover{
    background-color: #575757;
}


@media screen  and (max-width: 376px){/* ---------------------------------------------------------------------------mobile 376px- */
    .Pop_Container{
        width: 90%;
        padding: 10%;
    }

    .Pop_button{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .Button1, .Button2{
        width: 250px;
    }

    .Pop_Container h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 680px) and (min-width: 377px) {/* -----------------------------------------------------mobile 425px- */
    .Pop_Container{
        width: 90%;
        padding: 10%;
    }
    .Pop_Container h1{
        font-size: 25px;
        
        
    }
   
    

    .Pop_button{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .Button1, .Button2{
        width: 250px;
    }
}

@media screen and (max-width: 899px) and (min-width: 680px){/* ------------------------------------------------------tablet 760px- */
    .Pop_Container{
        width: 80%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 900px){/* ----------------------------------------------------laptop 1024px- */
    

}

@media screen and (max-width: 1440px) and (min-width: 1025px){/* ---------------------------------------------------laptop 1440px- */
 
}

@media screen  and (min-width: 1441px){/* ------------------------------------------------------------------------------laptop 4k- */
    
}
