.footer{
    color: #ffff;
    
    position: relative;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.top_footer{
    display: flex;
    padding: 5% 5% 0% 5%;
    gap:20%;
    justify-content: space-between;
}

.logo_footer {
    align-content: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

}

.text_footer{
    display: flex;
    width: 100%;
    gap: 10%;
    justify-content: space-between;
}

.text_footer h3{
    margin-bottom: 10%;
    font-size: 1rem;
}
.text_footer p {
    margin-bottom: 10%;
    font-size: 0.9rem;
}





.down_footer{
    display: block;
    bottom: 0;
    text-align: center;
    margin-bottom: 2%;
    
}


.footer_bg{
    /* border: 1px solid blue ; */
    bottom: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    overflow: hidden; /* Previene il taglio degli elementi */
    
}

.footer_down_circle{
    display: flex;
    transform: translateY(40%);
    height: 50%;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 255, 55); */
    gap: 20%;
  
}

.blu_footer{
    
    width: 45%; /* Diametro */
    height: 25vh; /* Diametro */
    background-color: #3FCFFF; /* Colore del cerchio */
    border-radius: 50%; /* Trasforma il quadrato in cerchio */
    filter: blur(70px); /* Effetto blur */
    
}

.footer_up_circle{
    
    transform: translateY(-50%);
   /*  border: 1px solid rgb(0, 255, 242) ; */
    position: relative;
    
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.green_footer{
    margin: 0 auto;
    width: 90%; /* Diametro */
    height: 25vh; /* Diametro */
    background-color: #00FF6F; /* Colore del cerchio */
    border-radius: 100%; /* Trasforma il quadrato in cerchio */
    filter: blur(80px); /* Effetto blur */
}

@media screen  and (max-width: 375px){/* ---------------------------------------------------------------------------mobile 376px- */
    
    
    .top_footer{
        flex-direction: column;
    
    }
    .text_footer{
        margin-top: 5%;
    }
    
    
    .logo_footer img{
        width: 100px;

    }

    .down_footer p{
        font-size: 8px;
    }
}

@media screen and (max-width:425px) and (min-width: 375px) {/* -----------------------------------------------------mobile 425px- */
    .top_footer{
        flex-direction: column;
}
    
    
    .logo_footer img{
        width: 120px;

    }
    .down_footer p{
        font-size: 10px;
    }
    .footer_bg{
    
        height: 60vh;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px){/* ------------------------------------------------------tablet 760px- */
    .top_footer{
            flex-direction: column;
    }

    .logo_footer img{
        width: 222px;

    }
    .down_footer p{
        font-size: 10px;
    }
    .footer_bg{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px ;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){/* ----------------------------------------------------laptop 1024px- */
    
    
    .top_footer{
        gap: 5%;
    }
   
    .logo_footer img{
        width: 222px;
    
    }
  

    .text_footer h3{
        font-size: 16px;
    }

    .text_footer p{
        font-size: 14px;
    }

    .down_footer p{
        font-size: 14px;
    }

}

@media screen and (max-width: 1440px) and (min-width: 1025px){/* ---------------------------------------------------laptop 1440px- */
   
}

@media screen  and (min-width: 2000px){/* ------------------------------------------------------------------------------laptop 4k- */
    
}