
.content_servizio{
    width: 100%;
    position: relative;
    height: fit-content;
    display: grid;
    gap: 2%;
    /* Griglia flessibile: 4 colonne su schermi grandi */
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    padding: 5% 10% 5% 10% ;
    
    
   
}
.content_servizio a{
    width: fit-content;
    height: fit-content;
}

.card_servizio{
    width: 100%;
    position: relative;
    justify-self: center;
    align-self: center;
    color: #ffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   
}
.card_servizio img{
    border-radius: 20px;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}
.card_servizio h4{
    font-size: 16px;
    font-weight:500;
    margin-bottom: 2%;
}
.card_servizio p{
    font-size: 14px;
    font-weight: 100;
    color: #c0c0c0;
}

@media screen  and (max-width: 376px){/* ---------------------------------------------------------------------------mobile 376px- */
    .content_servizio{
        /* Griglia flessibile: 4 colonne su schermi grandi */
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
        padding-left: 5%;
        padding-right: 5%;
        
    }

    .card_servizio{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .card_servizio img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        
    }
}

@media screen and (max-width: 680px) and (min-width: 376px) {/* -----------------------------------------------------mobile 425px- */
   
    .content_servizio{
        /* Griglia flessibile: 4 colonne su schermi grandi */
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
        justify-self: center;
        

       
        
    }

    .card_servizio{
        display: flex;
        
        width: 100%;
        height: 100%;
    }

    .card_servizio img{
        width: 90%;
        height: 90%;
        border-radius: 15px;
        
    
    }

    .text_card{
        position: relative;
        
        align-items: flex-start;
    }
    .card_servizio h4{
        text-align: left;
    }
    .card_servizio p{
        text-align: left;

    }
   
}

@media screen and (max-width: 899px) and (min-width: 681px){/* ------------------------------------------------------tablet 760px- */
    .content_servizio{
        /* Griglia flessibile: 4 colonne su schermi grandi */
        grid-template-columns: repeat(2, 1fr);
}

    .card_servizio img{
        width: 90%;
        height: 80%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 900px){/* ----------------------------------------------------laptop 1024px- */
   
    .content_servizio{
        /* Griglia flessibile: 4 colonne su schermi grandi */
        grid-template-columns: repeat(4, 1fr);
    }
    .card_servizio img{
        width: 100%;
        height: 100%;
    }

  

}

@media screen and (max-width: 1440px) and (min-width: 1025px){/* ---------------------------------------------------laptop 1440px- */
   
}

@media screen  and (min-width: 1633px){/* ------------------------------------------------------------------------------laptop 4k- */
   

    
}